<div class="com_Section">
    <form id="postCommentFormNetlify" method="POST" netlify-honeypot="bot-field" data-netlify="true" accept-charset="utf-8">
        <h2>Kommentare</h2>
        <input type="hidden" name="subject" value="Blog Kommentar" /><br>
        <input type="hidden" name="blogpost" value="{{ page.comment_title }}" />
        <label>Name:<br><input type="text" name="name" placeholder="Dein Name" required></label><br><br>
        <label>Du hast es also geschafft, eine geheime Seite zu finden! Wenn du willst, kannst du dich hier mit einem Kommentar verewigen!<br><textarea name="message" placeholder="Deine Nachricht"></textarea></label><br>

        <!--<label>Mein Kommentar soll veröffentlicht werden:</label>
            <input type="checkbox" name="veroeffentlichen" value="yes" checked><br><br> -->
        <i>
            <label>
                <br>Auch geheime Kommentare müssen einzeln per Hand eingefügt werden, deshalb kann es auch hier ein bisschen dauern, bis dein Kommentar zu sehen ist.<br>
                <br>Alle Kommentare werden veröffentlicht.<br>
            </label>
        </i><br>
        <div class="cell">
            <button type="submit" class="button" name="submit">Abschicken</button>
        </div> 
    </form>
    <br>
    
    {% for item in site.data.comments %}
        {% if item.post == page.comment_title %}
            <div class="com_Comment">
                <h5>{{ item.date }} - {{ item.name }}</h5>
                {% capture postcomment %}{% include comments/{{ item.message }} %}{% endcapture %}
                {{ postcomment | markdownify }}
            </div>
        {% endif %}
    {% endfor %}
</div>