/*COLOR PALETTE
  red #ff6f69
  pale yellow #ffeead
  orange #ffcc5c
  pale turquoise 	#96ceb4
  turquoise  	#88d8b0 */

.blogpost {
  h5 {
    text-align: center;
  }

h2 {
  text-align: center;
}

  figcaption{
    margin-top: 10px;
    text-align: center;
  }
}

.com_Section {
  background-color: #f9d27f;
  padding: calc(1%) calc(5%);
  textarea {
    width: 100%;
    height: 200px;
  }
}

.com_Comment {
  border: #ff6f69;
  border-style: solid;
  padding: calc(1%);
  margin: calc(1%) 0;
  background-color: #f9d27f;
  h5 {
    font-size: large;
    text-align: left;
    color: black;
  }
}

.teaser {
  background-color: #96ceb4;
  padding: calc(1%) calc(5%);
  margin-top: 30px;
  margin-bottom: 30px;
  textarea {
    width: 100%;
    height: 200px;
  }
h2 {
  font-size: x-large;
  text-align: center;
  margin-top: 5px;
  padding-bottom: 10px;
}
h3 {
  font-size: larger;
  text-align: center;
  font-weight: 800;
}
}

@media (max-width: 39.9375em) {
  .com_Comment {
    padding: calc(5%);
    margin: calc(5%) 0;
  }
}