.comments {
  background-color: #f9d27f;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 50px;
}

.blogpost {
  h5 {
    text-align: center;
  }
  figcaption{
    margin-top: 10px;
    text-align: center;
  }
}