@import 'blogpost';
@import 'variables';

li {
  text-align: left;
  margin-top: 0px;
}

h1, title {
  font-size: xx-large;
  text-align: center;
  font-family: sans-serif;
}

h2 {
  text-align: center;
  font-size: x-large;
}

h3 { /*Deutscher Text*/
  font-size: larger;
  text-align: justify;
  font-weight: 500;
  margin: 10px;
  line-height: 150%;
  font-family: Helvetica, Arial, sans-serif;
}

h4 { /*Englischer TExt*/
  font-size: large;
  text-align: justify;
  font-weight: 500;
  margin: 10px;
  line-height: 150%;
  font-family: Helvetica, Arial, sans-serif;
}

h5 {
  text-align: center;
  font-size: large;
  margin: 0;
}

nav {
  color: black;
  background-color: $nav-color;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  text-align: center;
  font-size: x-large;
  border: black;
  border-style: solid;
  border-radius: $border-r;
  border-width: $border-w;
}

.nav_current {
  color: black;
  background-color: $flashy-color;
  text-decoration: none;
  border-radius: $border-r;
  border-style: solid;
  border-width: 2px;
  font-weight: bold;
  font-size: x-large;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.nav_notcurrent {
  color: black;
  text-decoration: none;
  font-weight: bold;
  margin-left: 20px;
  margin-right: 20px;
}

main {
  width: 60%;
  max-width: 1500px;
  background-color: $background-color;
  margin: 20px auto 0px auto;
  padding: calc(3%) calc(5%);
  border: black;
  border-style: solid;
  border-radius: $border-r;
  border-width: $border-w;
//old styling
//  margin-left: auto;
//  margin-right: auto;
//  margin-top: 20px;
//  padding-top: 20px;
//  padding-right:40px;
//  padding-left: 40px;
//  padding-bottom: 20px;
}

body {
  background-image:url("/assets/img/AT-mohn.JPG");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /*background-color: #ff6f69;*/
  font-family: Helvetica, Arial, sans-serif;
}

footer p{
  text-align: center;
  width: 60%;
  background-color: $background-color-int;
  margin: 20px auto 0px auto;
  padding: calc(1%) calc(5%);
  border: black;
  border-style: solid;
  border-radius: $border-r;
  border-width: $border-w;
//  margin-left: auto;
//  margin-right: auto;
//  padding-right:40px;
//  padding-left: 40px;
//  padding-bottom: 10px;
//  padding-top: 10px;
}

p {
  text-align: justify;
}

.centered {
  text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
}

.blog {
  h1, title {
    font-size: xx-large;
    text-align: center;
    font-family: sans-serif;
    margin-bottom: 2em;
  }
  h2 {
    text-align: left;
    font-size: x-large;
    color: black;
    text-decoration: none;
    display: block;
    float: left;
  }
  a:link {
    color: black;
    text-decoration:underline ;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: $border-r;
  }

  a:visited {
    color: black;
    background-color: transparent;
    text-decoration: underline;
  }
}
.country {
  font-variant: small-caps;
  text-align: right;
  display: block;
}
.entrytitle {
  background-color: $background-color-int;
  border-radius: $border-r;
  border-style: solid;
  border-width: 2px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  width:100%;
}

.secretlink{
  a:link {
    color: $background-color-int;
    background-color: transparent;
    text-decoration: none;
  }

  a:visited {
    color: $flashy-color;
    background-color: transparent;
    text-decoration: none;
  }
}

.discovered_secret {
  main {
    width: 40%;
    max-width: 1500px;
    background-color: black;
    margin: 10% auto 0px auto;
    padding: calc(3%) calc(5%);
    border: white;
    border-style: solid;
    border-width: $border-w;
    border-radius: 0%;
  }
  h1 {
    color: white;
    font-size: xx-large;
    font-family: monospace;
    font-weight: 900;
  }
  p{
    color: white;
    font-size: x-large;
    text-align: center;
    font-family: monospace;
  }
  body {
    background-image:url("/assets/img/AT-mohn.JPG");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /*background-color: #ff6f69;*/
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
  } 
  footer{
    text-align: center;
    width: 30%;
    max-width: 1500px;
    background-color: black;
    margin: 20% auto 0px auto;
    padding: calc(3%) calc(5%);
    border: white;
    border-style: solid;
    border-radius: $border-r;
    border-width: $border-w;
  }
  .linkback{
    a:link {
      color: white;
      background-color: transparent;
      text-decoration: none;
    }
  
    a:visited {
      color: white;
      background-color: transparent;
      text-decoration: none;
    }
  }
}

@media (max-width: 39.9375em) {
  main {
    width: 80%;
  }
  footer p {
    width: 80%;
  }
  img {
    margin: auto;
    width: 100%;
  }
}